.html {
  margin: 0px;
  padding: 0px;
}

html,body {  
  overflow:hidden;  
}

.App {
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}
.c {
  margin: 0 auto;
  width: 95%;
  box-sizing: border-box;
}

.monCadre {
  margin: 0 auto;
  border: px solid  #BADA55;
  box-sizing: border-box;
  position: static;
  cursor: crosshair;
}

input[type='image'] {
  display: block;
  width:50px;
  height:50px;
  background-size: 100%;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.tools{
 height: 70px;
 display: flex;
 align-items: center;
 justify-content: center;
}
